<div class="wrapper">
  <app-navbar></app-navbar>
  <div class="container" *ngIf="articles">

    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
      <div class="col-md-6 px-0">
        <h1 class="display-4 font-italic">{{ featured.title }}</h1>
        <p class="lead my-3">{{ featured.content }}</p>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-md-6" *ngFor="let article of articles;">
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
          <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 text-primary">{{ article.title }}</strong>
            <h3 class="mb-0">
              <p class="text-dark" href="#">{{ article.content }}</p>
            </h3>
            <div class="mb-1 text-muted">{{ article.date }}</div>
            <p class="card-text mb-auto">{{ article.content }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer><app-footer>
