<div class="container">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark" *ngIf="menu">
      <a class="navbar-brand" href="#">Strona główna</a>
      <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
         &#9776;
       </button>
      <div [ngbCollapse]="!isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" *ngFor="let item of menu">
            <a class="nav-link" href="#">{{ item.title }}</a>
          </li>
          <li class="nav-item dropdown" ngbDropdown>
            <a class="nav-link dropdown-toggle" id="dropdown01" ngbDropdownToggle>To jest przykład drodowna</a>
            <!-- To jest tylko przykład juz nei dopychałem tego w tablicy w symfony -->
            <div *ngFor="let subItem of menu" class="dropdown-menu" aria-labelledby="dropdown01" ngbDropdownMenu>
              <a class="dropdown-item" href="#">{{ subItem.title }}</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
</div>
