/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.wrapper {
  min-height: calc(100vh - 80px);
}
.footer {
  height: 50px;
}
